$primary-color: #D43434;
$secondary-color: #606F82;
$tertiary-color: #c69c6c;

$black: #111;
$button-color: $secondary-color;
$red: $tertiary-color;
$green: #429C3C;
$register-color: $secondary-color;
$header-color: #19283B;
$header-color2: #595856;
$header-color3: #024774;

$bg2: $bg1;
$border: $secondary-color;
$fg1: $secondary-color;

$flash: #fffef0;
