$primary-color: #C69C6C;
$secondary-color: #606F82;
$tertiary-color: #D43434;

$black: #111;
$button-color: $secondary-color;
$red: $tertiary-color;
$green: #429C3C;
$register-color: $primary-color;

$bg1: #f4f4f4;
$bg2: $bg1;
$border: $secondary-color;
$fg1: $secondary-color;

$flash: #fffef0;
