$primary-color: #193272;
$secondary-color: $primary-color;
$tertiary-color: $primary-color;

$black: #111;
$button-color: $secondary-color;
$red: #D43434;
$green: #429C3C;
$register-color: $primary-color;

$bg1: #f4f4f4;
$bg2: $bg1;
$border: $secondary-color;
$fg1: $secondary-color;

$flash: #fffef0;
