$primary-color-grey: #858579;
$primary-color: #37b6bd;
$secondary-color: #464646;
$tertiary-color: $secondary-color;

$green: #6f9c00;
$red: #e9105e;

$black-real: #000000;
$black: #676767;
$heading-color: #888;

$header-color3: $secondary-color;
$button-color: $secondary-color;
$register-color: $secondary-color;

$bg1: #F7F7F7;
$bg2: $bg1;
