$primary-color: #2349a1;
$secondary-color: $primary-color;
$tertiary-color: $primary-color;
$yellow: #ffcc00;

$black: #6a6a6a;
$button-color: $secondary-color;
$red: #D43434;
$green: #429C3C;
$register-color: $primary-color;
$header-color: #19283B;
$header-color2: #595856;
$header-color3: #024774;

$bg2: $bg1;
$border: $secondary-color;
$fg1: #505359;

$flash: #fffef0;
