.subsection-salon-startpage,
.subsection-de-startpage {
    #welcome_message,
    #main {
        .page_wrapper {
            padding: 0;
        }
    }
    #main {
        margin-bottom: 10em;
    }
}

.subsection-salon-startpage #main,
.subsection-de-startpage #main {
    $bg-active: #d8c9b7;
    $bg-extra: #f4f0eb;

    font-family: 'Georgia', serif;
    font-size: 105%;

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial, sans-serif;

        a {
            color: inherit;
        }
    }

    .page_title,
    #instance_list,
    #stats {
        display: none;
    }
    a:not([href]) {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    h2, h3 {
        text-transform: uppercase;
        color: $primary-color;
        text-align: center;
    }
    h2 {
        font-size: 180%;
        border-bottom: 1px solid $border;
        padding-bottom: 0.3em;
    }
    h3 {
        font-size: 120%;
        padding: 0.6em 0;
        font-weight: bold;
    }
    .width-5 h3 {
        color: #6d120d;
    }
    .type-Event {
        padding: 1em 0;
        border-bottom: 1px dotted $border;
        .tileMetadata {
            color: $fg1;
            margin: 0;
            padding: 0;
        }
        .tileHeadline {
            color: $black;
            line-height: inherit;
            font-size: 100%;
            margin: 0;
            padding: 0;

            a {
                color: $black;
            }
            a.more-link {
                color: $primary-color;
            }
        }
    }
    .cover-list-tile {
        .tileHeadline {
            font-size: 110%;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }
    h3,
    .tile-footer,
    .cover-list-tile .list-item {
        border-bottom: 1px dotted $border;
    }
    .galleria-extra-detail {
        background: $bg-extra;
        clear: both;
        padding: 2em 1em;
        @include row;

        h2 {
            color: $tertiary-color;
            border-bottom: none;
            font-size: 150%;
        }
        h3 {
            color: #6d120d;
        }
        iframe {
            width: 100%;
        }
        .category-events,
        .category-description,
        .category-milestones {
            @include cell;
            @include width(4);
        }
        .category-events,
        .category-milestones {
            h3 {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        .category-events {
            @include position(0);
        }
        .category-description {
            @include position(4);
        }
        .category-milestones {
            @include position(8);
        }
    }
    #galleria-5f9a6cc463d14fa798c604d173d8fc77 {
        .galleria-inner {
            position: relative;
            left: 3em;
            width: 90%;
            width: calc(100% - 2*3em);
        }
        .galleria-item {
            padding: 0.5em 0.5em 1.5em;
            @include box-sizing(border-box);

            &.has-body {
                cursor: pointer;
            }
            &.active {
                background-color: $bg-active;
                cursor: auto;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 43%;
                    left: calc(50% - 1.2em);
                    height: 0;
                    width: 0;
                    border: 1.2em solid transparent;
                    border-bottom-color: $bg-extra;
                    border-top: 0;
                }
            }
        }
        .prev,
        .next {
            border: 2em solid $primary-color;
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            border-left-width: 0;
            top: 50%;
            top: calc(50% - 2em);

            &:after {
                color: white;
                font-weight: bold;
                width: 2em;
                line-height: 4em;
                display: block;
                margin-top: -2em;
                text-align: center;

            }
            &:hover, &:focus {
                text-decoration: none;
            }
        }
        .prev {
            left: 0;
            @include border-left-radius(2em);

            &:after {
                content: "<";
            }
        }
        .next {
            right: 0;
            @include border-right-radius(2em);

            &:after {
                content: ">";
            }
        }
    }
    #galleria-9558eb947b2a44e5bd06f9a492e01c01,
    #galleria-aef93412aeb1495f95035c1e8eb0fecb {
        img {
            max-height: 450px;
        }
        .galleria-item {
            position: relative;
        }
        .galleria-details {
            position: absolute;
            height: 100%;
            width: 45%;
            top: 0;
            left: 0;
            background-color: rgba($secondary-color, 0.5);
            padding: 1em;
            @include box-sizing(border-box);
        }
        h3 {
            font-size: 300%;
            border-bottom: 1px solid $tertiary-color;
        }
        .galleria-item,
        h3 a {
            color: white;
        }
        .item-link {
            font-size: $large;
            @include button($tertiary-color);
            @include border-radius(0.3em);
            line-height: 2.5;
            font-family: Arial, sans-serif;
        }
    }
    .galleria {
        position: relative;
        @include pie-clearfix;

        .galleria-inner {
            @include row;
            overflow: hidden;
        }
        .galleria-item {
            @include cell;

            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
            h3 {
                // reset
                font-size: 120%;
                margin: 0.5em 0;
                padding: 0;
                border: none;
                text-align: left;

                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .navigation {
            // reset
            margin: 0;
            list-style: none;

            position: absolute;
            bottom: 1em;
            left: 0;
            width: 100%;
            text-align: center;

            li {
                display: inline-block;
            }
            a {
                display: inline-block;
                margin: 0 0.5em;
                width: 1.5em;
                height: 1.5em;
                background-color: white;
                border: 1px solid white;
                @include border-radius(50%);
            }
            .current a {
                background-color: $primary-color;
            }
        }
    }
}

.cover-embed-tile iframe {
    width: 100%;
}
