$header-fg: #ddd;

#header {
    background: transparent;
    padding: 2em 0 1em;
    color: $header-fg;

    .page_wrapper {
        background: none;
        position: relative;
        text-align: right;
    }
}

#logo {
    float: left;
    color: white;

    h1 {
        color: white;
        display: inline-block;
        margin: 0;
        font-size: 300%;

        a:hover,
        a:focus,
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .tag-line {
        font-family: Georgia, "Times New Roman", serif;
        font-size: $large;
        font-style: italic;
        color: $header-fg;
        margin-left: 0.5em;
    }
}

// navigation
#nav {
    clear: none;
    padding-top: 1.2em;

    a {
        color: $header-fg;
    }

    li:after {
        content: " | ";
    }
    li:nth-last-child(2):after,
    li:last-child:after {
        content: "";
    }
}

#nav_login, #user_menu {
    margin-left: 0.5em;

    > a {
        display: inline-block;
        width: 80px;
        @include border-radius(10px);
        border: thin solid rgba($header-fg, 0.5);

        background-image: url(/static_theme/static/images/pfeil.png);
        background-position: 80px center;
        background-repeat: no-repeat;
        padding-right: 20px;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        text-indent: 5px;
        color: $header-fg;
        line-height: 25px;
        cursor: pointer;
        text-align: left;
        vertical-align: -9px;
    }

    &:hover > a {
        text-decoration: none;
    }
}
#user_menu:hover > a {
    background-image: url(/static_theme/static/images/pfeildown.png);
}

#nav li:hover ul.children {
    display: block;
}
#nav ul.children {
    display: none;
    position: absolute;
    font-size: $large;
    background-color: rgba($header-color3, 0.9);
    margin: 0;
    min-width: 12em;
    text-align: center;
    padding: 0.8em 1.5em;
    right: 0;
    z-index: 100;
    @include border-bottom-right-radius(0.4em);
    @include border-bottom-left-radius(0.4em);

    // HACK: fix top spacing
    border-top: 7px solid transparent;

    li {
        line-height: 2.4;
        display: block;

        border-bottom: 1px solid darken($header-color3, 10%);
        border-top: 1px solid desaturate(lighten($header-color3, 14%), 15%);

        &:first-child {
            border-top: none;
            padding-top: 2px;
        }
        &:last-child {
            border-bottom: none;
        }
        a {
            display: block;
            color: white;
            font-weight: bold;
            text-decoration: none;
            height: auto;
            padding: 0;
        }
        a:hover, a:focus, &.current a {
            color: lighten(desaturate($header-color3, 50%), 50%);
        }
        &:after {
            content: none;
        }
    }
}
