#header {
    background: transparent;
    padding-top: 50px;
    font-size: $medium;
    line-height: 3;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    color: $primary-color;

    .page_wrapper {
        background: $header-color;
        padding: 0 2em;
        position: relative;
        text-align: right;

        h2 {
            font-size: inherit;
            line-height: inherit;
            font-family: inherit;
            margin: inherit;
            color: $primary-color;
            font-weight: inherit;
            font-style: inherit;
            text-indent: 256px;
            float: left;
        }
    }
}

// scroll
#publixphere-scroll {
    position:absolute;
    top: 0;
    left: 24px;
    z-index: 101;

    #publixphere-scroll-back {
        background-image: url(/static_theme/static/images/menu_top.png);
        background-repeat: no-repeat;
        background-position: 90px top;
        width: 280px;
        height: 15px;
        position: absolute;
        top: -15px;
        left: -1px;
    }
    #publixphere-scroll-top {
        background-image: url(/static_theme/static/images/mainmenubg.png);
        background-repeat: no-repeat;
        width: 266px;
        height: 15px;
        position:absolute;
        top: -15px;
        left: -1px;
        z-index: 102;
    }
    #publixphere-scroll-down {
        background-image: url(/static_theme/static/images/menu_down.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        width: 232px;
        padding-top: 8px;
        padding-left: 5px;
        padding-right: 29px;
        padding-bottom: 20px;
        text-align: center;
        line-height: 3;
    }
}

// navigation
#nav {
    clear: none;
    color: white;

    a {
        color: white;
    }

    li:after {
        content: " | ";
    }
    li:nth-last-child(2):after,
    li:last-child:after {
        content: "";
    }
}

#nav_login, #user_menu {
    padding-left: 1em;
    margin-left: 0.5em;
    border-left: 1px solid $header-color2;

    > a {
        display: block;
        width: 100px;
        @include border-radius(10px);
        border: thin solid $header-color2;

        background-image: url(/static_theme/static/images/pfeil.png);
        background-position: 80px center;
        background-repeat: no-repeat;

        text-indent: 5px;
        color: white;
        line-height: 25px;
        cursor: pointer;
        text-align: left;
    }

    &:hover > a {
        text-decoration: none;
    }
}
#user_menu:hover > a {
    background-image: url(/static_theme/static/images/pfeildown.png);
}

#nav li:hover ul.children {
    display: block;
}
#nav ul.children {
    display: none;
    position: absolute;
    font-size: $large;
    background-color: rgba($header-color3, 0.9);
    margin: 0;
    min-width: 12em;
    text-align: center;
    padding: 0.8em 1.5em;
    right: 0;
    z-index: 100;
    @include border-bottom-right-radius(0.4em);
    @include border-bottom-left-radius(0.4em);

    // HACK: fix top spacing
    border-top: 7px solid $header-color;

    li {
        line-height: 2.4;
        display: block;

        border-bottom: 1px solid darken($header-color3, 10%);
        border-top: 1px solid desaturate(lighten($header-color3, 14%), 15%);

        &:first-child {
            border-top: none;
            padding-top: 2px;
        }
        &:last-child {
            border-bottom: none;
        }
        a {
            display: block;
            color: white;
            font-weight: bold;
            text-decoration: none;
            height: auto;
            padding: 0;
        }
        a:hover, a:focus, &.current a {
            color: lighten(desaturate($header-color3, 50%), 50%);
        }
        &:after {
            content: none;
        }
    }
}
