.sidebar_box {
    background: $bg1;
    padding-bottom: 1em;

    h3 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 110%;
        line-height: 3;
        padding: 0;

        background-color: $secondary-color;
    }
    &:nth-of-type(even) h3 {
        background-color: $primary-color;
    }

    h3 ~ * {
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-bottom: 1.5em;
    }

    // HACK
    br {
        display: none;
    }

    h4, h6 {
        color: $tertiary-color;
        font-size: 110%;
        margin: 1.5em 0 0.2em;
    }
}

/* Sidebar content summary */
#col3 .summary ol {
    list-style-type: none;
    margin-left: 0;
}
