#subheader {
    .page_wrapper {
        background-color: $primary-color;
        @include clearfix;
    }
    #searchbox {
        padding-top: 0.4em !important;

        input[type="text"].search_text {
            margin: 0;
        }
    }
    #logo_row {
        display: none;
    }
}
