#nav_row {
    background-color: $primary-color;
    @include clearfix;
    padding: 0 1em;

    #searchbox {
        padding-top: 0.4em !important;

        input[type="text"].search_text {
            margin: 0;
        }
    }
}
#logo_row {
    display: none;
}
