@mixin button-background($color) {
    background: $color;

    &:hover, &:focus {
        background: darken($color, 7%);
    }
}

@mixin button-round-background() {
    background-color: darken(#fff, 5%);
    @include background-image(linear-gradient(bottom, darken(#fff, 10%), #fff));
    border: 1px solid darken(#fff, 15%);
    color: $black;
    &:hover, &:focus {
        background-color: darken(#fff, 7%);
        @include background-image(linear-gradient(bottom, darken(#fff, 12%), darken(#fff, 2%)));
    }
}

@mixin button-small($color1, $color2) {
    @include button-base;
    font-size: $small;
    line-height: 1.3 !important;
    @include border-radius(0.65em);
    padding: 0 1em;

    @include button-round-background();
    color: $primary-color;
    &:active, &.active {
        @include background-image(linear-gradient(top, darken(#fff, 10%), #fff));
        @include box-shadow(1px 1px 1px #333 inset);
    }
    .inactive & {
        background: $bg2 !important;
        @include box-shadow(none);
    }
}

@mixin button($color) {
    @include button-base;
    font-weight: bold;
    padding: 0 1.2em;

    color: #fff;
    @include button-background($color);
    line-height: 2.25;
}
