#share {
    position: absolute;
    top: 7.4em;
    width: 30px;
    height: 100px;
    right: -30px;
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);

    background-color: $tertiary-color;
    background-image: url(/static_theme/static/images/socialbglines.png);
    background-position: center center;
    background-repeat: no-repeat;

    a {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center top;
        display: block;
        clear: both;

        &:hover, &:focus {
            background-position: center bottom;
        }

        &:first-child {
            margin-top: 5px;
        }
    }
}


#fb_share {
    background-image:url(/static_theme/static/images/facebook.png);
}
#tw_share {
    background-image:url(/static_theme/static/images/twitter.png);
}
#gp_share {
    background-image:url(/static_theme/static/images/googleplus.png);
}
